@font-face {
  font-family: 'sohne';
  src: url('./fonts/TestSohne-Kraftig-BF663d89cd37e26.otf');
}
@font-face {
  font-family: 'editors';
  src: url('./fonts/EditorsNote-Extralight-iF664322be43be3.otf');
}
@font-face {
  font-family: 'light';
  src: url('./fonts/TestSohne-Leicht-BF663d89cd4952e.otf');
}
@font-face {
  font-family: 'pixel';
  src: url('./fonts/Market_Deco.ttf');
}
@tailwind base;
@tailwind components;
@tailwind utilities;
